drupal/sites/all/modules/custom/cdx_facility_management/cdxnodenaas.epa.gov_xml_SecurityToken_v30.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://www.exchangenetwork.net/wsdl/securitytoken/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:typens="http://www.exchangenetwork.net/schema/securitytoken/3" xmlns="http://schemas.xmlsoap.org/wsdl/" name="SecurityToken" targetNamespace="http://www.exchangenetwork.net/wsdl/securitytoken/3">
  <types>
    <schema targetNamespace="http://www.exchangenetwork.net/schema/securitytoken/3" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <simpleType name="PasswordType">
        <xsd:restriction base="xsd:string"/>
      </simpleType>
      <simpleType name="AuthMethod">
        <xsd:restriction base="xsd:string">
          <enumeration value="password"/>
          <enumeration value="digest"/>
          <enumeration value="certificate"/>
          <enumeration value="xkms"/>
          <enumeration value="hmac"/>
        </xsd:restriction>
      </simpleType>
      <simpleType name="TokenType">
        <xsd:restriction base="xsd:string">
          <enumeration value="csm"/>
          <enumeration value="saml"/>
        </xsd:restriction>
      </simpleType>
      <simpleType name="DomainTypeCode">
        <xsd:restriction base='xsd:string'>
          <enumeration value="default"/>
          <enumeration value="IAMADS"/>
          <enumeration value="IAMLdap"/>
          <enumeration value="DEVLdap"/>
          <enumeration value="NAAS2"/>
        </xsd:restriction>
      </simpleType>
      <!-- message definitions -->
      <element name="CreateSecurityToken">
        <complexType>
          <sequence>
            <element name="trustee" type="xsd:string"/>
            <element name="credential" type="typens:PasswordType"/>
            <element name='domain' type='typens:DomainTypeCode'/>
            <element name="tokenType" type="typens:TokenType"/>
            <element name="issuer" type="xsd:string"/>
            <element name="authMethod" type="typens:AuthMethod"/>
            <element name="subject" type="xsd:string"/>
            <element name="subjectData" type="xsd:string"/>
            <element name="ip"  type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="CreateSecurityTokenResponse">
        <complexType>
          <sequence>
            <element name="return" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="Validate">
        <complexType>
          <sequence>
            <element name="userId" type="xsd:string"/>
            <element name="credential" type="typens:PasswordType"/>
            <element name='domain' type='typens:DomainTypeCode'/>
            <element name="securityToken" type="xsd:string"/>
            <element name="clientIp" type="xsd:string"/>
            <element name="resourceURI" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="ValidateResponse">
        <complexType>
          <sequence>
            <element name="return" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="CreateAuthKey">
        <complexType>
          <sequence>
            <element name="issuer" type="xsd:string"/>
            <element name="credential" type="typens:PasswordType"/>
            <element name='domain' type='typens:DomainTypeCode'/>
            <element name="userId" type="xsd:string"/>
            <element name="userData" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="CreateAuthKeyResponse">
        <complexType>
          <sequence>
            <element name="return" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <!-- message definitions -->
      <element name="RenewSecurityToken">
        <complexType>
          <sequence>
            <element name="userId" type="xsd:string"/>
            <element name="password" type="typens:PasswordType"/>
            <element name='domain' type='typens:DomainTypeCode'/>
            <element name="securityToken" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="RenewSecurityTokenResponse">
        <complexType>
          <sequence>
            <element name="return" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <!-- message definitions -->
      <element name="RebindSecurityToken">
        <complexType>
          <sequence>
            <element name="userId" type="xsd:string"/>
            <element name="password" type="typens:PasswordType"/>
            <element name='domain' type='typens:DomainTypeCode'/>
            <element name="securityToken" type="xsd:string"/>
            <element name="ip" type="xsd:string"/>
	    <element name="environment" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="RebindSecurityTokenResponse">
        <complexType>
          <sequence>
            <element name="return" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CreateSecurityToken">
    <part name="parameter" element="typens:CreateSecurityToken"/>
  </message>
  <message name="CreateSecurityTokenResponse">
    <part name="return" element="typens:CreateSecurityTokenResponse"/>
  </message>
  <message name="Validate">
    <part name="parameter" element="typens:Validate"/>
  </message>
  <message name="ValidateResponse">
    <part name="return" element="typens:ValidateResponse"/>
  </message>
  <message name="CreateAuthKey">
    <part name="parameter" element="typens:CreateAuthKey"/>
  </message>
  <message name="CreateAuthKeyResponse">
    <part name="return" element="typens:CreateAuthKeyResponse"/>
  </message>
  <message name="RenewSecurityToken">
    <part name="parameter" element="typens:RenewSecurityToken"/>
  </message>
  <message name="RenewSecurityTokenResponse">
    <part name="return" element="typens:RenewSecurityTokenResponse"/>
  </message>
  <message name="RebindSecurityToken">
    <part name="parameter" element="typens:RebindSecurityToken"/>
  </message>
  <message name="RebindSecurityTokenResponse">
    <part name="return" element="typens:RebindSecurityTokenResponse"/>
  </message>
  <portType name="SecurityTokenPortType">
    <operation name="CreateSecurityToken">
      <documentation>Generate a security token, called by a trustee (Assertion Party)</documentation>
      <input message="tns:CreateSecurityToken"/>
      <output message="tns:CreateSecurityTokenResponse"/>
    </operation>
    <operation name="Validate">
      <documentation>Validate a previously issued authToken, called by an application (Relying Party).</documentation>
      <input message="tns:Validate"/>
      <output message="tns:ValidateResponse"/>
    </operation>
    <operation name="CreateAuthKey">
      <documentation>Create a multi-factor authentication key</documentation>
      <input message="tns:CreateAuthKey"/>
      <output message="tns:CreateAuthKeyResponse"/>
    </operation>
    <operation name="RenewSecurityToken">
      <documentation>Renew a security token, called by a trustee (Assertion Party)</documentation>
      <input message="tns:RenewSecurityToken"/>
      <output message="tns:RenewSecurityTokenResponse"/>
    </operation>
    <operation name="RebindSecurityToken">
      <documentation>Rebind a security token to another IP address</documentation>
      <input message="tns:RebindSecurityToken"/>
      <output message="tns:RebindSecurityTokenResponse"/>
    </operation>
  </portType>
  <binding name="SecurityTokenBinding" type="tns:SecurityTokenPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateSecurityToken">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </output>
    </operation>
    <operation name="Validate">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </output>
    </operation>
    <operation name="CreateAuthKey">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </output>
    </operation>
    <operation name="RenewSecurityToken">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </output>
    </operation>
    <operation name="RebindSecurityToken">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://www.exchangenetwork.net/schema/securitytoken/3"/>
      </output>
    </operation>
  </binding>
  <service name="SecurityToken">
    <documentation>A set of security token services for trust exchanges</documentation>
    <port name="SecurityTokenPortType" binding="tns:SecurityTokenBinding">
      <soap12:address location="https://cdxnodenaas.epa.gov/xml/SecurityToken_v30.wsdl"/>
    </port>
  </service>
</definitions>
